body  {
background-color: lightsteelblue;    
}

/* Photo of James */
.img-item {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: thin black;
    margin-top: 50px;
    padding-left: 5%;
}

@media only screen and (max-width: 768px) {
    .img-item {
      margin-top: 70px;
      width: 100%;
    }
    .row-home {
        display: block;
        text-align: center;
    }
    .bio{
        padding-top: 100px;
        width: 100%;
    }
    .youtube-vid {
        width: 420px;
        height: 250px;
    }
  }


/* Logo */
.dash1 {
border-left: 1px solid grey;
height: 30px;
transform: rotate(5deg);
margin-left: -10px;
}

.dash2 {
border-left: 1px solid grey;
height: 25px;
margin-left: 2px;
margin-top: 2px;
}

/* Navigation bar */
.stay {
    position: fixed;
    background-color: lightsteelblue; 
    z-index: 1;
    left: 20px;
    right: 20px
    
}

/* Navigation link */
.nav-link {
    color: black;
}

.nav-link:active {
    background-color: gray;
}

/* Home Section */
.home-section  {
    padding-top: 70px;
}


/* Name title */
.name {
    color: white;
    border-bottom: solid black;
    justify-content: left;
    font-size: 7vw;
}

.job {
    color: black;
    justify-content: center;
    font-size: 6vw;
    
}

.card {
    text-align: center;
}
/*Paragraph on the right side of page*/

.bio  {
 margin-top: 5%;
 width: 100%;
 height: auto;
}

/* Home Section */
.video-section  {
    text-align: center;
}


/* About me title */
.about-me-title {
    text-align: center;
}

/* Projects title */
.projects-title {
    text-align: center;
}

/* Contact Me title */
.contact-me-title {
    text-align: center;
}

/* Contact Me elements */
.contact-me-elements {
    text-align: center;
}

.a-elements-contact-me {
    text-decoration: none;
    color:black;
}
